body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

footer{
    background-color: #003366;
    color: white;
    padding: 10px;
    display: column;
    justify-content: space-between;
    line-height: 1;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 10%;
    margin-left: 5%;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20%;
    text-align: center;
}

.container {
    display: flex;
    height: calc(100vh - 160px); /* Ajuste del contenedor principal menos el header y el footer */
}

.service-section {
    background-color: #003366;
    color: white;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.service-section h2 {
    text-align: center;
    width: 100%;
}

.service-section ul {
    list-style: none;
    padding: 0;
}

.service-section li {
    display: flex;
    align-items: center;
    margin: 15px 0;
    font-size: 16px;
}

.service-section img {
    margin-right: 10px;
}

.trabajo-section {
    flex: 1;
    padding: 50px;
    background-image: url('Img/UTPL.jpg'); /* Reemplaza con tu imagen de fondo */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trabajo-section h2 {
    font-size: 24px;
    color: #003366;
    margin-bottom: 30px;
}

form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 8px;
    font-size: 14px;
    color: #003366;
}

.trabajo-section form{
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.trabajo-section input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
}

.trabajo-section button {
    padding: 10px 20px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    align-items: center;
}

.trabajo-section label{
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: black;
}

#olvide{
    margin-top: 20px;
    font-size: 14px;
    color: #0a045f;
    text-align: center;
}